body {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 300px;
    height: 300px;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    position: absolute;
}

.rojo {
    background-color: red;
    margin-top: 200px;
    margin-left: 200px;
}

.azul {
    background-color: blue;
    margin-top: 100px;
    margin-left: 100px;
}

.ama {
    background-color: yellow;
    margin-top: 0px;
    margin-left: 0px;
}
